<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Locamole | Guac Around the Block!</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="public/dest/styles/main.min.css" />
	<link rel="stylesheet" href="public/lib/awesomplete/awesomplete.css">

	
</head>
<body>
	{{{body}}}
	
	<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
	<script src="public/src/scripts/jquery.js"></script>
	<script src="public/lib/awesomplete/awesomplete.min.js"></script>
	<script src="public/src/scripts/main.js"></script>

</body>
</html>