<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Locamole | Guac Around Your Block!</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="public/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="public/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="public/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="public/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="public/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="public/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="public/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="public/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="public/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="public/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="public/favicons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="public/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="public/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="public/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="public/favicons/manifest.json">
	<link rel="mask-icon" href="public/favicons/safari-pinned-tab.svg" color="#8cca6e">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="public/favicons/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="public/dest/styles/main.min.css" />
	<link rel="stylesheet" href="public/lib/awesomplete/awesomplete.css">

	
</head>
<body>
	{{{body}}}
	
	<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
	<script src="public/src/scripts/jquery.js"></script>
	<script src="public/lib/awesomplete/awesomplete.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
	<script src="public/src/scripts/main.js"></script>

</body>
</html>