{{> all.svg}}
<div class="container">
	<div class="header">
		<div class="content">
			<a href="/"><svg class="logo"><use xlink:href="#avocado"></use></svg>
			<h1>Locamole</h1></a>
			<div class="input-wrapper">
			        <input id="search-input" type="text">
			        <label id="search-button">
			        	<svg><use xlink:href="#search"></use></svg>
			    	</label>
			</div>
		</div><!--content-->
	</div><!--header-->
	<div class="single-page">
		<a class="close-btn" href="#">X</a>
		<h2 id="business-name"></h2>
		<p id="event-date"></p>
		<p id="business-address"></p>
		<ul id="business-categories"></ul>
		<p id="event-description"></p>
	</div><!--single-page-->
	<div id="map" class="map-container">
		
	</div><!--map-->
</div><!--container-->