{{> all.svg}}
<div class="container">
	<div class="header">
		<div class="content">
			<svg class="logo"><use xlink:href="#avocado"></use></svg>
			<h1>Locamole</h1>
			<form id="search" method="get" action="./">
			        <input id="category-search" type="text">
			        <label>
			        	<svg><use xlink:href="#search"></use></svg>
			       		<input type="submit" value="search">
			    	</label>
			</form>
		</div><!--content-->
	</div><!--header-->
	<div id="map" class="map-container">
		
	</div><!--map-->
</div><!--container-->